@media only screen and (max-width: 1200px) {
    .header-text-box {
        max-width: 90%;
        padding: 0 2%;
    }

    .container {
        max-width: 99%;
        padding: 0 2%;
    }

    .we-image img {
        height: 320px;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 99%;
        margin-left: 0;
    }

    .main-nav {
        display: none;
    }

    .features-grid-template {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "features-title"
            "features-research"
            "features-qa"
            "features-warehouse"
            "features-delivery";
    }

    .features-research,
    .features-qa,
    .features-warehouse,
    .features-delivery {
        text-align: center;
    }

    .icon-big {
        display: inline-block;
    }

    .mix-grid-template {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "mix-container-1 mix-container-2"
            "mix-container-3 mix-container-4" 
            "mix-container-5 mix-container-6"
            "mix-container-7 mix-container-8" 
            "mix-container-9 mix-container-10";
    }

    .we-grid-template {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "we-title"
            "we-image" 
            "we-list";
    }

    .we-image {
        padding: 0 80px;
        text-align: center;
        padding: 0;
    }

    .we-image img {
        float: none;
    }

    .we-list ul li {
        padding: 10px 0;
        height: auto;
    }

    .testimonials-grid-template {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "testimonials-title"
            "testimonials-customer-1" 
            "testimonials-customer-2"
            "testimonials-customer-3";
    }

    .footer-grid-template {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "footer-title"
            "footer-contactus" 
            "footer-social"
            "footer-back";
    }

    .footer-back {
        text-align: center;
    }
    
}

@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
}