/**

ACCENT COLOR: Wisteria #8e44ad;
ACCENT COLOR Darker: #7a3a95 (http://www.0to255.com/8e44ad)

**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 2.5%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big,
.rounded-icon {
    font-size: 350%;
    color: #8e44ad;
}

.icon-big {
    display: block;
    margin-bottom: 10px;
}

.rounded-icon {
    padding: 1.5%;
    font-size: 120%;
    border: 3px solid #8e44ad;
    border-radius: 250px;    
}

.social-icon {
    padding: 3%;
    font-size: 100%;
    border: 1px solid #555;
    border-radius: 250px;
    color: #555;  
}

section {
    padding: 80px 0;
}

/*
HEADING
*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #8e44ad;
    content: ' ';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*
PARAGRAPH
*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*
HEADER
*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px; 
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #8e44ad;
    background-color: #8e44ad;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #8e44ad;
    color: #8e44ad;
}

.btn:hover,
.btn:active {
    background-color: #7a3a95;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #7a3a95;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #7a3a95;
    color: #fff;
}

.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #8e44ad;
}





/*
FEATURES
*/
.features-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.features-grid-template {
	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
        "features-title features-title features-title features-title"
        "features-research features-qa features-warehouse features-delivery";
}

.features-title {
    grid-area: features-title;
}

.features-research {
    grid-area: features-research;
}

.features-qa {
    grid-area: features-qa;
}

.features-warehouse {
    grid-area: features-warehouse;
}

.features-delivery {
    grid-area: features-delivery;
}



/*
WE
*/
.we-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.we-grid-template {
	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
        "we-title we-title"
        "we-image we-list";
}

.we-title {
    grid-area: we-title;
}

.we-image {
    grid-area: we-image;
    padding: 0 100px;
    overflow: hidden;
}

.we-image img {
    background-color: #8e44ad;
    height: 400px;
    width: auto;
    float: right;
    opacity: 0.8;
    transform: scale(1.35);
    transition: transform 0.3s, opacity 0.3s;
}

.we-image img:hover,
.we-image img:active {
    opacity: 1;
    transform: scale(1.09);    
}

.we-list {
    grid-area: we-list;
    padding: 0 50px;
}

.we-list ul {
    list-style: none;
}

.we-list ul li {
    padding: 0 10px;
    height: 85px;
}

.we-list .rounded-icon {
    float: left;
}

.we-list ul li p {
    font-size: 80%;
    padding-left: 80px;
}





/*
MIX
*/
.mix-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mix-grid-template {
	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
        "mix-container-1 mix-container-2 mix-container-3 mix-container-4 mix-container-5"
        "mix-container-6 mix-container-7 mix-container-8 mix-container-9 mix-container-10";
}

.mix-container-1 {
    grid-area: mix-container-1;
}

.mix-container-2 {
    grid-area: mix-container-2;
}

.mix-container-3 {
    grid-area: mix-container-3;
}

.mix-container-4 {
    grid-area: mix-container-4;
}

.mix-container-5 {
    grid-area: mix-container-5;
}

.mix-container-6 {
    grid-area: mix-container-6;
}

.mix-container-7 {
    grid-area: mix-container-7;
}

.mix-container-8 {
    grid-area: mix-container-8;
}

.mix-container-9 {
    grid-area: mix-container-9;
}

.mix-container-10 {
    grid-area: mix-container-10;
}

.mix-img {
    width: 100%;
    height: auto;
    background-color: #8e44ad;
    overflow: hidden;
}

.mix-img img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.3s;
}

.mix-img img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/*
TESTIMONIALS
*/
.testimonials-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1535000609142-e5266adc501a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db9c69917d51db0bfee250ef6a7bed8c&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.testimonials-grid-template {
	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
        "testimonials-title testimonials-title testimonials-title"
        "testimonials-customer-1 testimonials-customer-2 testimonials-customer-3";
}

.testimonials-title {
    grid-area: testimonials-title;
}

.testimonials-customer-1 {
    grid-area: testimonials-customer-1;
}

.testimonials-customer-2 {
    grid-area: testimonials-customer-2;
}

.testimonials-customer-3 {
    grid-area: testimonials-customer-3;
}

.testimonials-paragraph {
    font-size: 80%;
    font-weight: 300;
    font-style: italic;
    padding: 30px;
}

.testimonials-paragraph:before {
    font-size: 400%;
    font-weight: bold;
    content: '"';
    display: block;
    margin-left: -10px;   
}

.testimonials-img {
    margin-left: 30px;
    width: 65px;
    height: auto;
    border-radius: 250px;
}

.testimonials-name {
    margin-left: 10px;
}



/*
FOOTER
*/
.footer-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.footer-grid-template {
	grid-template-columns: auto;
	grid-template-rows: auto;
    grid-template-areas: 
        "footer-title footer-title footer-title"
        "footer-back footer-contactus footer-social";
}

.footer-title {
    grid-area: footer-title;
}

.footer-back {
    grid-area: footer-back;
}

.footer-contactus {
    grid-area: footer-contactus;
    text-align: center;
}

.footer-contactus p {
    padding-bottom: 30px;
}

.footer-social {
    grid-area: footer-social;
    text-align: center;
}

.footer-social p {
    padding-bottom: 30px;
}

.footer-social ul {
    list-style: none;
}

.footer-social ul li {
    display: inline;
    padding-left: 15px;
}


.footer-contactus a {
    color: #fff;
    font-size: 80%;
    background-color: #555;
    text-decoration: none;
    padding: 10px 40px;
    border: 1px solid #555;
    border-radius: 10px;
}

.footer-contactus a:hover,
.footer-contactus a:active {
    background-color: #000;
    transition: background-color 0.5s;
}

.footer-link {
    padding-left: 15px;
}

.footer-link:first-child {
    padding-left: 0px;
}

.footer-link:hover,
.footer-link:active {
    padding-left: 0px;
}

.footer-icon {
    font-size: 250%;
}

.footer-icon:hover,
.footer-icon:active {
    color: #000;
}

address {
    font-size: 80%;
}




